openapi: 3.2.0
info:
  title: 'Neuronto ARD Registry: Agentic Resource Discovery (ARD)…'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://neuronto.com
tags:
- name: Liveness
paths:
  /liveness:
    get:
      summary: Liveness Feed
      description: 'Which endpoints answer, as a feed anyone may consume, including rivals.


        We probe every endpoint we index and keep the transitions. Other registries

        do not, which means they list servers that stopped answering months ago and

        have no way to know. Publishing this costs us nothing we would otherwise

        sell and makes the whole ecosystem less wrong, which is worth more to us

        than the small advantage of being the only ones who can tell.


        No key, no attribution required, no rate limit beyond the shared one.

        `dead=1` is the useful half: the entries worth re-checking on your side.'
      operationId: liveness_feed_liveness_get
      parameters:
      - name: dead
        in: query
        required: false
        schema:
          type: integer
          maximum: 1
          minimum: 0
          default: 0
          title: Dead
      - name: since
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Since
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 5000
          minimum: 1
          default: 500
          title: Limit
      - name: cursor
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Cursor
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Liveness
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
