openapi: 3.2.0
info:
  title: 'Neuronto ARD Registry: Agentic Resource Discovery (ARD)…'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://neuronto.com
tags:
- name: Explore
paths:
  /explore:
    post:
      summary: Explore Endpoint
      description: 'POST /explore - optional introspection over facets (§5.3.3).


        Explore does not federate; it is scoped to this registry''s own index.


        A bare body, or one without `resultType.facets`, returns every supported

        facet rather than a 400. The outside-failure monitor watched one agent read

        /openapi.json, find a request schema that said only "object", and then send

        seven plausible bodies here and be refused each time. Introspection that has

        to be introspected first is a contradiction; asked for nothing specific, it

        now answers with everything it has.'
      operationId: explore_endpoint_explore_post
      requestBody:
        content:
          application/json:
            schema:
              properties:
                query:
                  properties:
                    text:
                      type: string
                  type: object
                  description: Optional. Restricts the counts to entries matching this text.
                resultType:
                  properties:
                    facets:
                      items:
                        oneOf:
                        - type: string
                        - properties:
                            field:
                              type: string
                            limit:
                              type: integer
                          type: object
                          required:
                          - field
                      type: array
                      description: Which facets to count. Omit to receive every supported facet.
                  type: object
              type: object
              title: Body
              example:
                query:
                  text: payments
                resultType:
                  facets:
                  - field: type
                    limit: 20
                  - publisher
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Explore
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
