openapi: 3.2.0
info:
  title: 'Neuronto ARD Registry: Agentic Resource Discovery (ARD)…'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://neuronto.com
tags:
- name: Search
paths:
  /search:
    post:
      summary: Search Endpoint
      description: 'POST /search - the one endpoint the spec mandates.


        Every result carries `identifier`, `score` (0-100) and `source`, which are

        the three fields the conformance tool requires of a SearchResultItem.'
      operationId: search_endpoint_search_post
      requestBody:
        content:
          application/json:
            schema:
              properties:
                query:
                  properties:
                    text:
                      type: string
                  type: object
                  required:
                  - text
                limit:
                  type: integer
                  default: 10
                federation:
                  type: string
                  enum:
                  - auto
                  - none
                  - referrals
                  description: auto (the spec default) fans out to every public ARD registry and fuses; none answers from this index alone in ~60 ms.
                  default: auto
              type: object
              required:
              - query
              title: Body
              example:
                query:
                  text: charge a credit card
                limit: 10
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Search
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
