openapi: 3.2.0
info:
  title: 'Neuronto ARD Registry: Agentic Resource Discovery (ARD)…'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://neuronto.com
tags:
- name: Plan
paths:
  /plan:
    post:
      summary: Plan Endpoint
      description: 'A task, decomposed into steps, each with candidate resources.


        Discovery for jobs that need more than one tool. The agent still

        chooses, connects over each resource''s own protocol, and verifies trust

        itself.'
      operationId: plan_endpoint_plan_post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Plan
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
