openapi: 3.2.0
info:
  title: 'Neuronto ARD Registry: Agentic Resource Discovery (ARD)…'
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://neuronto.com
tags:
- name: Doctor
paths:
  /doctor:
    post:
      summary: Doctor Endpoint
      description: 'What to change in a manifest, and why it is not being found.


        Takes a domain, in which case the manifest is fetched and the index is

        consulted for what happened when we called its endpoints, or a manifest

        body, in which case only the document is read. Findings, never a score.'
      operationId: doctor_endpoint_doctor_post
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Body
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Doctor
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
